/* Reset CSS */
/* Adicione estilos de reset se necessário */

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.main {
    padding: 20px;
}

.features {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.features li {
    text-align: center;
    flex-basis: 30%;
}

.features h2 {
    margin-bottom: 10px;
}

.feature-image {
    max-width: 100%;
    height: auto;
}
